<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace='com.sloop.archive.common.mapper.FileMapper'>

    <sql id="fileColumns">
        id
        , content_id
        , extension
        , original_name
        , saved_name
        , thumb_name
        , original_path
        , saved_path
        , thumb_path
    </sql>

    <insert id="saveFiles" parameterType="list">
        INSERT INTO tb_image (
        content_id
        , extension
        , original_name
        , saved_name
        , thumb_name
        , original_path
        , saved_path
        , thumb_path
        ) VALUES
        <foreach item="file" collection="list" separator=",">
            ( #{file.contentId}
            , #{file.extension}
            , #{file.originalName}
            , #{file.savedName}
            , #{file.thumbName}
            , #{file.originalPath}
            , #{file.savedPath}
            , #{file.thumbPath}
            )
        </foreach>
    </insert>

    <update id="updateFiles" parameterType="list">
        <foreach item="file" collection="list" separator=";">
            UPDATE tb_image
            SET
            extension = #{file.extension},
            original_name = #{file.originalName},
            saved_name = #{file.savedName},
            thumb_name = #{file.thumbName},
            original_path = #{file.originalPath},
            saved_path = #{file.savedPath},
            thumb_path = #{file.thumbPath}
            WHERE content_id = #{file.contentId}
        </foreach>
    </update>
</mapper>
