<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace='com.sloop.archive.login.mapper.LoginMapper'>

    <select id="requestAdminLogin" resultType="Map">
        select distinct
            tu.id, tu.name, tur.role
        from tb_user tu
                 left join tb_user_role tur on tu.id=tur.user_id
        where tu.userid=#{request.userid} and tu.password=#{request.password}
    </select>

</mapper>